[submodule "VulkanInitium/Libraries/assimp"]
	path = VulkanInitium/Libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "VulkanInitium/Libraries/glad"]
	path = VulkanInitium/Libraries/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "VulkanInitium/Libraries/glfw"]
	path = VulkanInitium/Libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VulkanInitium/Libraries/glm"]
	path = VulkanInitium/Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanInitium/Libraries/stb"]
	path = VulkanInitium/Libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "VulkanInitium/Libraries/bullet"]
	path = VulkanInitium/Libraries/bullet
	url = https://github.com/bulletphysics/bullet3.git
